@import url("./../../../common/styles/shared-note-styles.css");

main {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerTag {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.imageTag .icon-svg {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
