.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 120px;
    width: 100%;
    position: relative;
    border-bottom: 2px black solid;
}

.controls {
    position: relative;
    height: 100%;
    width: 2%;
}

.languageButton {
    position: absolute;
    top: 25%;
    left: 0;
}

.DarkModeButton {
    position: absolute;
    top: 24%;
    left: 50px;
    margin-left: 2%;
}

img{
    position: relative;
    width: 10%;
    height: 90px;
    right: 20%;
}

.title {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.containerUser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 70px;
    height: 70px;
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user {
    font-size: 2rem;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}