@import url("./../../../common/styles/shared-note-styles.css");

.emptynotes {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
}

main {
  overflow-y: auto;
  width: 100%;
  grid-column: 2;
  max-width: 100%;
}

@media screen and (max-width: 1100px) {
  main {
    grid-column: 1;
  }
  .emptyNotes {
    grid-column: 1;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
