*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.dark-mode,
body.dark-mode {
  background-color: #121212 !important;
  color: white !important;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}